[2015-10-06 18:19] gh0sti opened #3 "Color Issues"
Distorts color on iPhone 6s+, leaves green pixels and other distorted color.

[2015-10-08 03:11] DotTheI commented on #3
Same on iPhone 6

[2015-10-09 20:32] brittag opened #6 "Readme could use more information about license/permissions"
Hi Thomas! To help prevent further confusion and misuse, I'd suggest adding some more information to your readme, pretty much along the lines of your [recent Reddit comment](https://www.reddit.com/r/jailbreak/comments/3nlx6o/upcoming_flux_without_jailbreak/cvph92x), such as: that you are intentionally retaining copyright for this code, which means that people may not redistribute it (as code or in

[2015-10-09 21:14] luuuke commented on #3
Could you try to make a picture of the problem and post it here?

[2015-10-10 00:34] JosephDuffy commented on #3
I can confirm this also happens on an iPhone 6 running iOS 9.0. When taking a screenshot it doesn't capture the "distortion". It is worse with the option set on, but still present when off. I may be able to take a photo with my webcam tomorrow.

[2015-10-10 00:35] DotTheI commented on #3
@luuuke It can't be captured by screen shots, so I made a picture with an "external" camera
![img_9594](https://cloud.githubusercontent.com/assets/10737439/10408163/593cd34a-6eab-11e5-9266-b001c6b59b3c.jpg)

[2015-10-10 00:35] thomasfinch commented on #3
Can you try restarting your phone? That resets the colors and may fix it.

On Fri, Oct 9, 2015 at 8:34 PM, Joseph Duffy <notifications@github.com>
wrote:

[2015-10-10 00:45] DotTheI commented on #3
@thomasfinch Restarting didn't help

[2015-10-10 01:38] thomasfinch commented on #6
I've added more detail, thank you for bringing this up. I really should have done this from the beginning.

[2015-10-10 01:38] #6 closed

[2015-10-10 01:38] moshesiegel opened #8 "crash on enable toggle"
running 9.1 beta 4 on my 6:
app immediately crashes on toggling on/off yet it will change the gamma color but its not adjustable.

[2015-10-10 06:00] Critter commented on #3
`Settings / General / Accessibility / Increase Contrast /`

Disable `Reduce White Point`

it worked for me. was mentioned by someone on reddit

[2015-10-10 06:05] DotTheI commented on #3
@Critter I have it enabled. It might be the culprit. However, it would be just a workaround to turn it off.

[2015-10-10 08:37] tymmej opened #9 "Automatic change of color"
Would it be possible to include automatic change of color based on user location?
[solar.c](https://github.com/jonls/redshift/blob/master/src/solar.c) from redshift source (GPLv3) should help in implementation of this function.

[2015-10-10 10:02] luuuke commented on #3
Oh wow, just tried it myself with reduced white point. Looks trippy. Seems to be an issue when two gamma table settings get mixed.

[2015-10-10 12:25] jeffrey52 opened #10 "URL Scheme support?"
It would be awesome if the app could support URL schemes, so we can automate dimming with Workflow/Launch Center Pro!

(Disclosure: I'm not an iOS dev, no idea how easy this would be but I think it would be a perfect addition! Also, this would be a nice place to say: my eyes thank you for the app, it's great! :) )

[2015-10-10 15:12] CasperCLD commented on #9
Yes. Awesome idea! I'll look into this. Is it okay if I add this via pull request @thomasfinch ?

[2015-10-10 15:22] tymmej commented on #9
No problem.
I can also link my own code to change brightness of computer screen using solar.c: https://github.com/tymmej/brightness/blob/master/brightness.c
So basically use solar_elevation() and then calculate_interpolated_value().

[2015-10-10 21:47] angeloalduino commented on #8
Are you compiling for all architectures, including arm64? I noticed that it only works if targeting armv7. I was trying to write a today widget for it (arm64 only) and then ran into this issue.

[2015-10-10 21:57] Rivm commented on #8
@glassbot: If you're running iOS 7 or later, you need go into `GammaController.m:102` and change:

[code]
to
[code]

[2015-10-10 21:59] CasperCLD commented on #10
Sadly this not possible. URL schemes would redirect the user to the app 'GammaThingy'. Thus the app would open, and disrupt the flow. This is due the ['Sandbox'](https://developer.apple.com/app-sandboxing/) security which poses limits.

[2015-10-10 22:07] moshesiegel commented on #8
that fixed it, I was compiling for the latest but when I set they
deployment target back to 7 it worked.

Thanks.

On Sat, Oct 10, 2015 at 5:47 PM, Angelo Alduino <notifications@github.com>
wrote:

[2015-10-11 00:28] Rivm commented on #8
Wow oops, I accidentally had the change "" and to "" reversed. In iOS 7, the gamma table struct's unsigned array changed from 0x100 to 0x101. So, if my math checks out...

Old:
```0x100 * sizeof(unsigned int) * 3 = 3072 or 0xc00```
New:
```0x101 * sizeof(unsigned int) * 3 = 3084 or 0xc0c```

[2015-10-11 02:40] ylor opened #14 "Today Widget"
I'm having trouble with Background App Refresh triggering, in addition to an URL scheme as suggested by another user can help alleviate the issue perhaps a slider widget in the Today section of Notification Center can also help quick management.

I know as the night goes on I like to make the screen warmer and warmer, so a Today widget would also help in that regard.

Thanks so much for open-sourc

[2015-10-11 07:09] jeffrey52 commented on #10
Isn't that what [x-callback](http://x-callback-url.com) is for? So i.e. Workflow opens GammaThingy, GammaThingy enables/disables, and opens Workflow again.

[2015-10-11 13:09] CasperCLD commented on #9
Cheers! I've made it work. You can check it out [here](https://github.com/CasperCLD/GammaThingy/tree/develop) for the time being. I want to test it a bit before I'll create a pull request for it. If you want to test it as well, that would be awesome!

[2015-10-11 13:21] CasperCLD commented on #10
Hmm true that. [Looks](https://github.com/luuuke/GammaThingy/commit/acc3cc7f4e4b22460c2b364f2f42fb1adacbcce8) like @luuuke  is working on this. :+1:

[2015-10-11 13:26] moshesiegel commented on #9
I've got it running on my 6, I'll report back later tonight. I'm assuming
enabled should be On, time based Off, location On?

On Sun, Oct 11, 2015 at 9:09 AM, Casper <notifications@github.com> wrote:

[2015-10-11 13:30] CasperCLD commented on #9
That's great! All correct except 'Enabled' should be OFF. We might want to change the name of this label to 'manual' as it overrides auto changing behaviour.

[2015-10-11 13:32] luuuke commented on #10
Yep, I've actually just added the x-callback thing. Not sure if it's implementation is perfect, though, as I'm really just checking if an x-source (the scheme of the "calling" app) is set. If that's the case it tries to open the app again.

[2015-10-11 19:13] #3 closed

[2015-10-11 19:15] DotTheI commented on #3
@thomasfinch
Has the issue been fixed?

[2015-10-11 19:17] thomasfinch commented on #3
No, but it was clearly caused by reduced white point. The easy solution is to disable reduced white point, and that's orders of magnitude easier than digging into how that interacts with the gamma table to cause this problem. I don't have the time or knowledge of how the gamma table works to fix the root cause.

[2015-10-11 21:08] rpappa opened #16 "Dimming screen"
I worked on some code that also lets you dim the screen. I'm about to test whether it works when you're running in the background, but if it does I will put the code up on my fork.

Do you think this would fit in the app? If it would, I'll put in a pull request.

[2015-10-11 21:41] jeffrey52 commented on #10
The URL scheme works great so far, but I can't get the x-source app to open again. I've tried the commented URL in the code, but unfortunately without success. The app just stays active and isn't redirecting back.

[2015-10-11 22:45] luuuke commented on #14
Background refreshing seems indeed to be the wrong API for automatic switching, SpringBoard uses way too much logic to determine how it should go about refreshing.
A today widget could also be used to check if the auto change should kick in, just opening the NC would trigger it.

[2015-10-11 22:46] luuuke commented on #10
Sounds great! Now just @thomasfinch has to merge it :)

[2015-10-11 22:49] luuuke commented on #8
My current PR includes a commit where I added proper ARM64 support using @glassbot's solution.

[2015-10-11 23:01] rpappa commented on #16
[I've submitted a pull request](https://github.com/thomasfinch/GammaThingy/pull/17)

[2015-10-11 23:01] #16 closed

[2015-10-12 00:29] moshesiegel commented on #9
If the expected result was location based sundown detection and automatic turn on, it didn't work for me.

I had enabled and time based off, allows location access and it's about 90min past sunset here.

On Oct 11, 2015, at 9:30 AM, Casper <notifications@github.com> wrote:

That's great! All correct except 'Enabled' should be OFF. We might want to change the name of this label to 'manual' as it ov

[2015-10-12 01:30] lazerwalker commented on #14
Yep, I came on here just to suggest the same thing. I haven't looked into the API myself, but could also likely be a 3D touch contextual action on the 6s / 6s Plus.

I'd love to contribute and throw a quick widget together myself, but no promises when I'll have the time.

[2015-10-12 11:19] sdaitzman opened #18 "Instructions for getting from Xcode to iPhone"
I've downloaded the project but I'm not familiar with iOS development. Can the readme have a brief set of instructions that detail how you install this?

[2015-10-12 11:38] esusatyo commented on #8
I've pulled the latest commit, running it on iPad 4th Gen still crashes the app for me. It works fine on my iPhone 6. I set added a breakpoint, and it's stopping at `GammaController.m:122`:

[code]

[2015-10-12 18:24] tschoof commented on #18
So I got it to work without a paid developer account. I'm gonna try a quick and dirty rundown, I'm not sure if I can remember all the right steps though.
* The easiest way to begin should be to clone this repo via the link on the main page to the Github desktop app
* then, install and launch XCode, open a new project, an iOS application
* for the product name, enter "de.nautigg.me.thomasfinch.Gamm

[2015-10-12 21:17] rolyreyes commented on #14
Since I opened this issue @luuuke contributed a URL scheme and @cfilipov added a dynamic 3D touch action for the icon that launches the app, enables/disables the color temperature shift, and returns the device back to springboard. Both are super useful.

Still hoping someone will be kind enough to whip up a slider. I've looked into it, but I am nowhere near possessing the expertise needed to pull

[2015-10-13 00:11] cfilipov commented on #14
@rolyreyes For me at least, the 3D touch shortcut solves the problem of quickly toggling Gamma, and really this shouldn't even be necessary. The root problem seems to be that background app refresh isn't working sufficiently (rarely triggers for me, so I end up using the shortcut). If the app could get more consistent background time then gradually making the screen warmer would over time would be

[2015-10-13 00:26] lazerwalker commented on #14
If there's a way to abuse the background refresh API, I'm not aware of it. Apple uses a whole bunch of heuristics to figure out when to give an app background processing time, and there isn't a (public) reliable way to work around them. There are a few other similar hacks you can do (e.g. have a server that exists purely to send silent push notifications), but they all tend to fall under similar b

[2015-10-13 00:42] thomasfinch commented on #14
I've researched this a bit but I haven't found a good way to refresh the app at a set interval without iOS choosing when to open it. This would be simple if jailbroken by running a daemon (like the actual f.lux tweak) but within the confines of the iOS sandbox it's difficult to get that kind of control. Good idea about the clock app though, I'll investigate how iOS wakes it up when an alarm goes o

[2015-10-13 03:15] cfilipov commented on #14
I found a very promising method in [SBApplication.h](https://github.com/CPDigitalDarkroom/iOS9-SpringBoard-Headers/blob/master/SBApplication.h) called `- (void)setApplicationNextWakeDate:`.

Unfortunately, the only way I can figure out to get an instance of the `SBApplication` is using `-[SBApplicationController applicationsWithDisplayIdentifier]`. The problem is, I think `SBApplicationController`

[2015-10-13 03:21] thomasfinch commented on #14
SBApplication is a class within SpringBoard, so unfortunately there's no way to access it without being jailbroken. The only way into SpringBoard-land that I've seen so far is through the SpringBoardServices private framework, which is already used to wake the screen during background fetches. I've been through it a bit but there may be some useful stuff in there that I missed that could do this f

[2015-10-13 03:46] cfilipov commented on #14
@thomasfinch I feel like there has to be a way to tell SpringBoard to wake up the app at some point in the future. [Using XPC](https://gist.github.com/cfilipov/406873356f814d59ef67) looked promising but I get an EXC_BAD_ACCESS. I haven't messed with this before so I might be doing something obviously incorrect.

See: [iPhoneDevWiki](http://iphonedevwiki.net/index.php/SpringBoard.app/MIG_subsystem)

[2015-10-13 03:49] cfilipov commented on #14
Another thing that looks promising: `BKSProcessAssertion`'s `"transientWakeup"` reason. I can't find anything on `"transientWakeup"`, but it looks like `BKSProcessAssertion`, in general, "..allows you to give a certain application permissions to stay alive and not be killed by watchdog" ([iPhoneDevWiki](http://iphonedevwiki.net/index.php/BKSProcessAssertion))

[2015-10-13 04:22] cfilipov commented on #14
It looks like the XPC approach probably requires special entitlements (probably com.apple.springboard.launchapplications?) and of course that can't be added because the developer provisioning profile won't have those entitlements.

[2015-10-13 07:21] ANGOmarcello commented on #14
This sounds helpful for keeping the app running in the background:
http://stackoverflow.com/questions/12004150/how-to-run-background-process-on-the-ios-using-private-apis-to-sync-email-items#12007135

[2015-10-13 09:04] galambalazs commented on #18
https://www.reddit.com/r/apple/comments/3o5sg7/tutorial_how_to_get_flux_on_ios_9/

Video: https://www.youtube.com/watch?v=D_01P4-ubdA

[2015-10-13 09:46] luuuke commented on #14
SpringBoard just uses UILocalNotifications for the alarms, I don't think we can use those to automatically toggle. Maybe we can use interactive notifications, however.

Also, a shot in the dark would be to try if a PCPersistentTimer works.

Regarding setApplicationNextWakeDate: In iOS 4 SpringBoardServices had a function called SBSetApplicationNextWakeDate, but it does no longer exist in more rece

[2015-10-13 15:18] cfilipov commented on #14
@luuuke My understanding was that ldid was only an option for jailbroken devices. Can't add arbitrary entitlements in a sandbox.

[2015-10-13 16:26] thomasfinch commented on #10
As far as I can tell all of these features were merged in https://github.com/thomasfinch/GammaThingy/commit/9535e1d3efd99a7d797958a1ef2f9b65c2997b23 so I'm closing this. Please reopen if I missed something.

[2015-10-13 16:26] #10 closed

[2015-10-13 16:29] luuuke commented on #8
I just realized that this issue doesn't depend on architecture as suggested above, I've updated my fork in this regard. Should be fixed now.

[2015-10-13 16:34] luuuke commented on #14
@cfilipov Ah well, that's what you get for developing only in jailbroken environments. Thanks for the heads-up!

[2015-10-13 16:46] cfilipov commented on #14
@luuuke Yeah I got tired of always being behind in iOS versions and jailbreaks are coming further and further apart. Being able to use my dev profile to side load apps basically fulfills 90% of my needs (i never used tweaks or skins or anything). That said, the thing I really miss is bypassing this annoying code signing lock down. I really hope I can find a solution that will get this thing workin

[2015-10-13 17:34] luuuke commented on #14
I don't mind being a bit behind as long as I can tinker with the OS :P
Yep, same, but at this point it seems almost inevitable. I'm wondering if the VoIP thing also keeps SpringBoard from sleeping, which would be absolutely detrimental. Let's wait until @ANGOmarcello has some results, maybe it'll work out just fine :)
Also, I tried using the PCPersistentTimer, as expected it didn't work out.

[2015-10-13 18:13] ANGOmarcello commented on #14
Lock does work as normal. :+1:

[2015-10-14 09:48] ANGOmarcello opened #27 "Activating after reboot"
When enabled is set to 1 and you reboot and open Gamma Thingy again the enabled switch is active but the effect is not present.

Workaround:
Turning enabled off and on again does help for now.

Possible solution:
Adding logic at application launch that checks for the state of enabled.

[2015-10-14 12:34] thomasfinch commented on #27
It isn't possible to tell from the gamma table what color the screen is set to. Actually I should say it is but it would be a huge pain. If you have a solution for this you can send a pull request but until then I'm going to close this because there's no way for it to work.

[2015-10-14 12:34] #27 closed

[2015-10-14 13:35] ANGOmarcello commented on #27
Calling `autoChangeOrangenessIfNeeded` in `application didFinishLaunchingWithOptions:` and adding the following to  `autoChangeOrangenessIfNeeded` works perfectly:

[code]

[2015-10-14 14:51] thomasfinch commented on #27
Ah thank you, sorry I misunderstood.

[2015-10-14 22:51] fileability opened #30 "Add a proper license please"
Here's a summary of the permissions already granted:

1. Others can view the code
2. Others can redistribute the code (via forking, as per GitHub's ToS)

Here's a summary of the permissions *not* granted:

1. Nobody is allowed to modify the code.
2. Nobody is allowed to compile the code.
3. Nobody is allowed to install the code on their device.
4. Nobody is allowed to run the code.

I realise you'

[2015-10-14 23:07] thomasfinch commented on #30
You're right, I will change that. Thanks for pointing this out.

[2015-10-15 00:10] cfilipov commented on #30
Perhaps using GPL would cover this? With GPL you prevent people from submitting it to the app store, but you can continue to share the source and keep it free.

[2015-10-15 03:01] jakezien opened #31 "Provide a fade transition when enabling or disabling gamma shift"
The lack of transition to oranginess is a bit jarring. When activating automatically, a gradual change à la flux would be ideal. When activating with the manual switch, a shorter fade would be nice.

Thanks for the awesome app, by the way—you've checked off a feature that's been at the top of my wish list for years. I know Apple will never build it, but if they did, they'd give it a fancy marketin

[2015-10-15 03:59] athyman opened #32 "No non-expired provisioning profiles were found?"
Hello,

I'm new to this so sorry if it is a stupid question, but when I open GammaTest.xcodeproj in Xcode 7.0.1, I get a yellow triangle with an exclamation point that said "Applications using launch screen files and targeting iOS 7.1 and earlier need to also include a launch image in an asset catalog." I have OSX 10.10.5 and am trying to install GammaThingy on an iOS 9.0.2 device. I also get anot

[2015-10-15 05:12] drewfer5 commented on #32
https://www.youtube.com/watch?v=D_01P4-ubdA

[2015-10-15 13:05] thomasfinch commented on #32
This is an issue with your account configuration in Xcode and not with the project itself. You should be able to find some information on how to fix the problem by googling it.

[2015-10-15 13:05] #32 closed

[2015-10-15 19:55] NemuiStefan opened #34 "Automatic Color Changing does"

[2015-10-15 19:56] #34 closed

[2015-10-15 22:26] joshuaswilcox commented on #18
I keep getting
    An App ID with Identifier 'de.nautigg.me.thomasfinch.GammaTest' is not available. Please enter a different string.

[2015-10-16 02:26] #30 closed

[2015-10-16 03:55] athyman commented on #32
Cool. In case other people have this problem, all I had to do was add anything (in my case ".[username]") to the Bundle Identifier within "General", and it worked immediately.

[2015-10-16 04:49] xream opened #36 "How can it get colder rather than warmer?"
Thank you very much for your hard work!
I have an iPhone with warm screen which is warmer and white color shows like yellow.
With this app I can only make the screen warmer.
How can it get colder rather than warmer?

[2015-10-16 05:17] xream commented on #36
[code]

I changed a little code and it works! Is this the best way to make it colder?

[2015-10-16 08:19] CasperCLD opened #37 "Background Fetch Alternative"
Recently I saw some discussion here on this problem. Right now we use background refresh to check if the screen temperature must change, however this isn't very reliable, because it requires the screen to be enabled to change the colour. Now the [latest problems with battery of the Facebook app](https://www.macstories.net/linked/the-background-data-and-battery-usage-of-facebooks-ios-app/) set me t

[2015-10-16 10:29] tjaadvd opened #38 "Automatic changing doesn't work in iPhone 5C and 4S"
The Automatic Color Changing doesn't work on my iPhone 5C and 4S. Could this have something to do with my location (The Netherlands)?

[2015-10-16 12:49] ANGOmarcello commented on #31
This is indeed a thing that should be implemented at some point in my opinion.
But it could take time as Gamma Thingy is shaping up slowly.

PS: Personally I would have no problem with apple implementing that in the future. :)

[2015-10-16 12:55] ANGOmarcello commented on #38
It should work but unreliable so far. You sure it is not working at all or maybe working much later then specified?

[2015-10-16 15:38] abdulkar-im commented on #9
Be awesome if this could get added to GoodNight too!

[2015-10-16 15:39] ANGOmarcello commented on #9
Im not even sure if GoodNight is legal.

[2015-10-16 15:40] ANGOmarcello commented on #9
The developer stole @thomasfinch code and instead of contributing wrapped it up with an other name and icon.

[2015-10-16 15:54] abdulkar-im commented on #9
Seriously?! *deleted

[2015-10-16 19:40] CasperCLD commented on #37
So it seems this is possible. I'm writing this down for reference: http://stackoverflow.com/questions/28054669/continuously-run-an-ios-app-in-the-background-even-after-sleep-or-reboot
I'm going to look into it this weekend.

[2015-10-16 19:46] CasperCLD commented on #38
It only changes your screen temperature when your screen is active and iOS decides to do a background refresh, which is quite unreliable. I'm working on a solution for this. See #37

[2015-10-16 19:48] thomasfinch commented on #37
These solutions aren't really ideal and I would like to avoid them if possible. Staying awake in the background would be nice for the app functionality but could potentially have a big impact on battery life. Likewise background audio could be battery intensive and would have the downside of not allowing the user to play any music or audio from other apps in the meantime. I'm open to using either,

[2015-10-16 19:48] NemuiStefan commented on #38
For me, it's not working either on my iPhone 6s. I mostly noticed 1 1/2 hours or so after it should switch. It sounds weird to me that iOS doesn't do a background refresh within that time frame even though I've been using it quite a lot.

[2015-10-16 20:15] cfilipov commented on #38
@ANGOmarcello How's your VoIP branch going? I noticed you merged it in then removed it. I pulled it and seems to work better than background app refresh so far, are you experiencing issues?

[2015-10-17 00:07] thomasfinch commented on #36
That would work, or you could make it call the setGamma function directly with red, blue, and green percentages.

[2015-10-17 00:07] #36 closed

[2015-10-17 03:07] titans1127 commented on #37
Is the way the official f.lux works by transitioning the screen temperature based on location and sunset/sundown times not possible without jailbreaking?  So far I have been just sticking to manually enabling the screen as I choose to keep Background App Refresh disabled and just change the temperature in the morning or evening as needed.  I'm a fan of how it works on the mac so seamlessly.

Great

[2015-10-17 07:23] NemuiStefan commented on #38
I have an update: So this morning, it should have turned off at 7:00 am. At 9:12 am I opened the app, still enabled. Then I disabled and reenabled Automatic Color Changing and after reenabling it, it finally turned off. Maybe this can help you.

[2015-10-17 10:21] CasperCLD commented on #9
This can be closed.

[2015-10-17 10:25] CasperCLD commented on #37
Suppose it's only activated around sunset/rise for an hour.. I think this wouldn't drain your battery. But I'll test the app, as I do usual with my software, thoroughly before submitting.

Fair point I'll look into it.

[2015-10-17 10:28] luuuke commented on #38
Some time ago I logged for about 24 hours when the refresh triggers and it didn't work once in this time frame. When you read up about Background App Refresh it really sounds like it's really the wrong API to use for this case, as SpringBoard tries to apply way too much logic.

[2015-10-17 10:44] tjaadvd commented on #38
For me, the Automatic Color Changing doesn't seems to do anything, even when the app is open and I switch it on and off. The color always changes to the Orange-ness

[2015-10-17 13:01] #9 closed

[2015-10-17 14:04] CasperCLD commented on #37
The audio going mute had to do with my mac trying to play on the same speaker..  😑 So far I'm seeing a increase of battery from 'zero' (no audio in background) impact to 'low' (with audio background enabled). Thus far promising results, but I'll have to make this a bit smarter to safe battery life.
I'll also create a switch which can enable this extra reliable/battery draining auto switching metho

[2015-10-17 14:22] ANGOmarcello commented on #38
I have no issues and my batterie is fine. :)

[2015-10-17 15:57] ANGOmarcello commented on #37
Where is the advantage of Audio Backgrounding compared to VOIP Backgrounding?

[2015-10-17 19:17] zero2029 commented on #37
Guys leave the app as is. I don't care about the app being in a background state. You shouldn't either. It will leave to battery drain. Just manually turn the app on and off... It's that easy. It's not inconvenient. Turn it on when you need it and turn it off when you don't. Leave it as is Thomasfinch.

[2015-10-17 19:54] thomasfinch commented on #37
It's nice that you don't care, but other people do. If you'd like to be constructive and actually contribute then you can.

[2015-10-17 23:12] zero2029 commented on #37
Mr. Finch? Are you upset? Because I wasn't.

[2015-10-18 14:24] CasperCLD commented on #37
Good question! Audio Backgrounding gives more control on when the task is running, so you can reduce the battery drainage. Moreover Audio Backgrounding allows you to run in the background continuously, which means it could change the temperature right after you unlock your phone. Thus you wouldn’t have to wait for the 15 min cycle of the VOIP task to kick in.

[2015-10-19 07:32] ANGOmarcello commented on #37
Im not entirely convinced of this approach, is it possible to still play music as user?
Also how is this more battery friendly as VOIP backgrounding? (VOIP has an impact of "Zero" and Audio is marked as "Low" in Xcode) Also is it really better to run continuous compared to all 15 minutes?

So to put this next to each other:
VOIP is still seen as a battery problem. And Audio as well. I heard in thi

[2015-10-19 10:16] ANGOmarcello commented on #37
You can find a working version of the VOIP Backgrounding here:
https://github.com/ANGOmarcello/GammaThingy/tree/VOIPBackgrounding

[2015-10-19 19:52] tjaadvd commented on #38
I have tried the latest source but it does not automatically change in the evening. When I open the app it does change instantly so I am still very pleased with this app :D. Keep up the good work!

[2015-10-20 08:28] ANGOmarcello opened #41 "Transition animation"
Hey folks what do you think about this?
I worked on a little method to transition between gamma values.

[code]

[2015-10-20 11:59] ANGOmarcello commented on #31
@jakezien I have a branch with transitions on my fork you should try it out. :)
https://github.com/ANGOmarcello/GammaThingy/tree/Transition

[2015-10-20 12:43] dso371 commented on #18
I simply cannot get this to work. I've followed all the instructions as far as I can tell, and I end up with an app icon that is just an iOS grid without the gamma picture, and when I tap it I get a blank page that says Master in the centre top, Edit in top left, and + in top right, and if I hit + I just get a time stamp! What have I done wrong? Thanks, I'd love to get this to work on my phone.

[2015-10-20 12:50] ANGOmarcello commented on #18
And you made sure to checkout this adress in the Xcode menu? https://github.com/thomasfinch/GammaThingy.git

[2015-10-20 13:01] dso371 commented on #18
Thanks, I got it to work after trying again with the instructions at the top and using checkout as you suggest, with that address. Not sure what I did wrong before but now it's installed fine, thank you.

But here's the irony - I thought the app would allow me to *decrease* orangeness but it only allows me to *increase* it! The lowest setting on the app is actually identical to not enabling it at

[2015-10-20 13:05] ANGOmarcello commented on #18
Maybe we should include the idownloadblog link in the compiling part of the readme @thomasfinch

[2015-10-20 13:07] dso371 commented on #18
Yes that would be a good idea but you need to tell people to pay attention both to the idownload instructions and the ones at the top of this thread.

[2015-10-20 13:17] ANGOmarcello commented on #41
So far I have implemented this into my branch successfully. Now I'm trying to improve it in a way wich makes it im possible to have two transition running at the same time. Handling these transitions with a NSTimer could be the solution.

[2015-10-20 13:29] galambalazs commented on #18
added the link to the README in this PR: https://github.com/thomasfinch/GammaThingy/pull/42

[2015-10-20 13:30] ANGOmarcello commented on #18
@galambalazs :+1:

[2015-10-20 17:59] jaggions commented on #38
Same here.

[2015-10-21 03:25] drewfer5 commented on #38
Ok so far no solution to automatically change color has worked. I'm forced to open the app and enable every evening.

[2015-10-21 05:35] ANGOmarcello commented on #38
Could you try this? https://github.com/ANGOmarcello/GammaThingy/tree/VOIPBackgrounding

[2015-10-22 08:28] tjaadvd commented on #38
Yes it works!

Verstuurd vanaf mijn iPhone

[2015-10-22 10:30] ANGOmarcello commented on #38
@tjaadvd please report back in a few days so that we know how it affects your batterie life.

[2015-10-22 17:32] cfilipov commented on #38
@ANGOmarcello Your VoIP branch has been working very reliably for me, are you planning on merging that into master to pushing to upstream anytime soon?

[2015-10-23 09:00] CasperCLD commented on #37
Hi Ango, I was unaware that the application is able to wake the screen. I see no advantages in the approach in Audio backgrounding over your approach of VOIP backgrounding, please create a merge request for it:)

[2015-10-23 09:01] #37 closed

[2015-10-23 09:04] CasperCLD commented on #41
Looks great, but why do you want to be able to play multiple transitions at the same time?

[2015-10-23 13:04] ANGOmarcello commented on #41
No I don’t want to do that. :D

It’s more like that:
If you hammer the enabled button it will play multiple transitions at once. Just thinking about a way to cancel the last transition so that this does not happen. :)

[2015-10-26 09:07] tjaadvd commented on #38
I have been using it for a couple of days and it's doesn't always automatically change the color. However, battery usage is low since it doesn't show up in the list of apps with the highest usage.

[2015-10-27 18:01] arthurhammer commented on #41
I'm currently playing with a Today Widget and this is indeed an issue there. The widget has an enable/disable toggle, an increase (orangeness) and a decrease button. When you hit "enable" but do "increase/decrease" before the transition is finished, it flickers badly and it ends in an inconsistent state at the end. It's not that bad in the main app, but in the widget it's very noticeable.

[2015-10-27 18:20] ANGOmarcello commented on #41
I understand well for now you should stick with that because we could implement a better transition logic in the ganma controller later. I will do that but at the moment time is rare.

If you want to improve it yourself:
Using an NSTimer to trigger the transition and invalidating it if another animation is triggered should do the job. Also it would be smart to have a variable wich saves the last s

[2015-10-28 06:34] tjaadvd commented on #38
Correction: it does seem to work, only sometimes it takes a little time to automatically change.

[2015-11-02 03:38] blcs79 commented on #8
Still crashing here (iPhone 6S, iOS 9.1) as soon as I try to use any of the controls. Gamma effect not initiated. Any ideas? Thanks!

[2015-11-02 04:07] #31 closed

[2015-11-02 12:23] mkasu commented on #8
In newest HEAD, I've got constant crashes due to this commit:
https://github.com/thomasfinch/GammaThingy/commit/624664866decadaab08dc57a9a04156b0feb3bc0

If I change it back, GammaThingy works normally (have not tried the widget though).

[2015-11-03 00:13] agentk commented on #8
@mkasu You may have an APP_GROUP_IDENTIFIER change missing. I found I missed the change in Info.plist (see screenshot), then had to do a *clean* and *build* to update the app.

![screen shot 2015-11-03 at 11 11 24 am](https://cloud.githubusercontent.com/assets/117041/10898168/ec29f33a-821b-11e5-8612-aab260b42a67.png)

[2015-11-03 19:11] mkasu commented on #8
@agentk Thanks. Got it to work. It seems just the clean-step was missing for me (already had changed the identifiers previously).

[2015-11-04 23:53] JMoVS opened #45 "crash when "enable" on iOS 9.1"
I cannot get it to do anything on iOS 9.1 at all. It crashes the moment I want to enable it... Any ideas or directions how I could help?

[2015-11-05 12:50] dingjin2011 opened #46 "How to make cold-screen display"
How to make cold-screen display

[2015-11-05 13:20] joeduvall4 commented on #45
In [GammaController.m](https://github.com/thomasfinch/GammaThingy/blob/master/GammaTest/mvc/controller/GammaController.m), commenting out lines 120 thru 123 and uncommenting lines 126 thru 128 works for me as a temporary workaround.

Judging by the comments near those lines of code, this workaround may prevent the Today Widget from fully turning off the gamma, so I'm not using the Today Widget for

[2015-11-05 22:31] ethanmiller commented on #45
I have this issue as well, may try branching before the changes @joeduvall4 points to, or hang tight for someone who knows how to fix this :grin:

[2015-11-06 20:51] ethanmiller commented on #45
That worked - this is my branch https://github.com/ethanmiller/GammaThingy/tree/pre-9.1-issue I wish I could help but I know zero about iOS development

[2015-11-07 07:24] dpelletier360 commented on #18
Ios 9.2 the profile won't show up in the settings app?

[2015-11-08 09:06] womprats commented on #45
@ethanmiller Your Branch worked for me. I had to turn off and on App Groups under Capabilities. I'm not sure what that does...but thanks for your help!

[2015-11-08 15:13] unique1o1 opened #48 "Doesn't works, keeps on crashing"
After opening the app and adjusting the slider the app crashes immediately. The app shows no change in screen when its no crashed(which is before interacting with the slider)

[2015-11-08 16:24] murr4y commented on #18
Same here, no profile to select with 9.2.

[2015-11-08 17:36] rolyreyes commented on #18
It's an iOS bug. Downgrade or wait for a fix.

[2015-11-08 19:17] pattulus commented on #8
@agentk Thanks. I have zero experience in Xcode and always had a crash when trying to interact with the compiled app. Search for the `APP_GROUP_IDENTIFIER` and added my group fixed it.

[2015-11-10 01:20] thomasfinch commented on #46
Can you describe what you're asking about more?

[2015-11-10 06:29] lars06 commented on #38
I have the exact same issue! Automatic changing has never worked for me. I've left it all day a few times and it remains on even when it's supposed to be off. Any way this can be fixed?

[2015-11-10 20:58] rex commented on #18
Yeah, I've spent about 6 hours trying to get this onto my iPhone (6+, iOS 9.2) to no avail. I've created provisioning profiles, identities, everything I can think of and it still won't build without failing due to code signing issues. Is it because it's 9.2 and Xcode only has the release target of 9.1? I don't think it would be...

[2015-11-10 21:39] Caesar113 commented on #18
Are you using XCode 7.2 beta? If not, you need to be.

[2015-11-10 22:03] dpelletier360 commented on #18
I'm using XCode 7.2 beta and I'm on iOS 9.2. I've looked it up and lots of people are also having this issue. As rolyreyes said either wait for a patch or downgrade. I'm personally gonna wait for a patch.

[2015-11-10 23:50] rex commented on #18
Sounds like a plan to me. Patch it is.

[2015-11-11 22:07] dpelletier360 commented on #18
9.2 beta 3 was released today and has resolved the issue of certificates not showing up. If you have the app sideloaded then just go to settings, general, profiles, click on your profile and approve it.

[2015-11-12 18:15] rex commented on #18
I just realized I have Xcode stable installed. Not looking forward to uninstalling and reinstalling the latest beta. Most likely will just wait for the stable release channel to reflect the updates. (Unless there's a way to run beta and stable side-by-side?)

[2015-11-12 18:17] Caesar113 commented on #18
Yes, you can run stable and beta side by side. The apps have different names. Just download the beta from apple.com and drag/drop it into Applications. You may want to check this out as well, because it actually works, unlike this project: https://justgetflux.com/sideload/

[2015-11-12 20:26] rex commented on #18
@Caesar113 Holy wow.... That looks amazing. You are a gentleman and a scholar for posting that link. Doesn't an *official* sideload of f.lux kind of make this repo obsolete?

[2015-11-12 20:28] thomasfinch commented on #18
It does, as is now noted in the readme. This project was kind of a temporary filler until an official sideload version of f.lux came out, so I’m now considering it finished. The official version of f.lux has much nicer color calculation as well as more polish, so it’s definitely better for users. Of course this project isn’t going anywhere, the code will still be available to read and learn from,

[2015-11-12 20:43] rex commented on #18
@Caesar113 Yeah, it fired right up!

@thomasfinch I agree. But regardless of whether I agree or not, it goes without saying that you have made a tremendous effort with this project to bring a sorely needed tool to f.lux iOS users. Your work here is appreciated so much by so many.

Now go crack open a cold beer, relax, and let the f.lux developers deal with it :-P :beer:

[2015-11-12 21:38] thomasfinch commented on #18
Wow I might have spoken too soon https://justgetflux.com/sideload/?utm_content=bufferaa94f&utm_medium=social&utm_source=twitter.com&utm_campaign=buffer

[2015-11-12 23:00] steipete opened #49 "Can you un-deprecate it?"
https://justgetflux.com/sideload/ has been taken offline.

[2015-11-13 00:30] thomasfinch commented on #49
Just did. I suppose since the official version isn't alive anymore I'll be focusing on making this the best it can be now.

[2015-11-13 00:30] #49 closed

[2015-11-13 12:20] rex commented on #18
@thomasfinch Wow, what the hell? I wonder a few things...

1) Why? It seems seriously heavy handed for Apple to do this for seemingly no reason. The f.lux project has been in place for a long time and is a legitimate project through and through.
2) How do they intend to regulate this? Seems to me that as long as you don't update the OS or Xcode there's nothing they can do in the meantime.

:-/

[2015-11-13 17:35] TJDunks commented on #45
Thank you for writing up this temporary fix. It is now working wonderfully!

[2015-11-13 18:43] ChaconC commented on #48
The crash is because PRODUCT_BUNDLE_IDENTIFIER is "me.ahammer.GammaTest.GammaWidget"

You need to change that value in "Build Settings" to whatever Group ID you used.

[2015-11-13 18:44] ChaconC commented on #45
You don't have to comment out any lines, the crash is because PRODUCT_BUNDLE_IDENTIFIER is "me.ahammer.GammaTest.GammaWidget"

You need to change that value in "Build Settings" to whatever Group ID you used.

[2015-11-13 23:50] rolyreyes commented on #18
As much as I love flux and continue to use it, running unsigned and unvetted binaries create too many attack vectors for malicious actors.

The flux team does not appear to be willing to share their source regardless of license type, unfortunately. I hope GammaThingy continues to be worked on.

Thanks for all your work thus far.

[2015-11-14 06:53] chunwaizung commented on #46
@dingjin2011  GammaController.m,
line 175 & line 176,
let float blue = 1.0;
float red = 1 - percentOrange;

enjoy it

[2015-11-14 08:56] galambalazs commented on #18
f.lux calculations are arguably better, but in terms of waking up the phone and scheduling change GammaThingy works better for me so far.
(also f.lux spams your phone with notifications which is an ugly workaround)

[2015-11-14 23:29] JMoVS commented on #45
I did eventually get it to run, but had some issues with graphical glitches (which are a spearate issue). I used the sideload version of flux which worked so I'll close this bug for now

[2015-11-14 23:29] #45 closed

[2015-11-15 04:35] ethanmiller commented on #45
So, you're saying we should stop running GammaThingy and run flux?

[2015-11-15 10:30] JMoVS commented on #45
@ethanmiller No. It sounds like you're offended but I didn't mean it that way. I was trying to make clear that this issue itself is fixed. Sideloaded version of flux is not available anymore anyhow.

But you are correct that I misstated causality. Should have been "I did manage to run it but switched to sideloaded flux nevertheless for now, but the crasher bug itself is fixed so I'll close this bu

[2015-11-15 19:30] paulrudy commented on #8
@agentk Thanks, clean & build was the piece I was missing, too.

[2015-11-16 21:42] joelrfcosta commented on #48
This will happen if:
* you removed the entitlements settings
* you changed the bundle identifier without updating the groups
* you changed the entitlements com.apple.security.application-groups item 0 to an wrong value

the easiest way to run is by creating on your provisioning portal the bundle identifiers `me.ahammer.GammaTest` and `me.ahammer.GammaTest.GammaWidget`

[2015-11-17 14:43] uvesten opened #50 "Does not work on iPad pro"
Have tried to find out why, we get a reference to the framebuffer, and can call setGammaTable, but the screen does not change.

Do you have newer iOKit headers? I think that on the pro we might need to set a flag to allow gamma table changes.

[2015-11-17 15:19] ANGOmarcello commented on #50
It would be cool to know this about more devices like apple watch and apple tv and all types of iPad.

[2015-11-17 23:10] Siequnu commented on #50
Very interested in iPad Pro support.

[2015-11-18 12:07] ApolloMars opened #51 "An App ID with Identifier 'me.ahammer.GammaTest' is not available. Please enter a different string."
I think I stuck on the last step of installing gamma thingy on my iphone6 plus which is running ios 9.1.

While I try to install it it showed error like this "An App ID with Identifier 'me.ahammer.GammaTest' is not available. Please enter a different string.", does that mean I need to join the ios developer program which costs 99$.

Need help!!!

[2015-11-18 17:58] Koenkk commented on #51
Same issue here

[2015-11-19 15:58] silvercomet commented on #51
No you dont, you just have to delete the word âhmmer then replace with your name or sth unique. That will do, this is cuz the xcode will check to see if app has its own unique id sinxe u are the one who compiles it, not like you download from app store, imagine like gettin your own car, you have to use ur id or license, it cant be of anyone else

Regards,

[2015-11-19 16:07] silvercomet commented on #45
The visual glitch happen if you have the Reduce white point on in the accessibility. Turn it off then it should fix your problem. I am using a branch that use voip background change from Amangelo and that has been serving me well. There are still glitches with the widget and f.lux of cuz has its own issue of popping up way too many notification to wake the screen to change. Not sure how long it wi

[2015-11-19 18:21] ethanmiller commented on #45
@JMoVS not offended! Just wasn't sure if you were saying flux was a better option... To be honest I'm not really clear on the fix since xcode options are kind of a confusing maze to me. So really I'm just looking for the simplest path to less eye strain :smile: for the moment I'm good.

[2015-11-19 20:47] JMoVS commented on #45
@silvercomet I don't have reduce white point activated but have button shapes activated (if that happens to make a difference...)

[2015-11-20 02:10] silvercomet commented on #45
@JMoVS oh I have button shapes activated and it is not the case, maybe you try to toggle on and off the reduce white point to see if it could help? The new version that integrates the widget is still not stable especially the widget which on use, could crash the notification screen and it flashed out. So I guess will have to wait for  Thomas and other code-savy people to release the fixes for thos

[2015-11-22 18:48] galambalazs opened #52 "Before bedtime third automatic mode"
Before bedtime is critical and is a third phase if you look at f.lux's graph for example on the desktop.

So there should probably be a segmented control that says [ Daytime  | Sunset | Bedtime ]

So the slider always controls the currently selected phase of the three, and three separate temperatures can be set.

[2015-11-23 17:48] Spamm3r opened #54 "Keeps crashing ipad mini iOS 9.1"
After fighting with app ids i got this error: keeps crashing:

2015-11-23 18:42:01.260 GammaTest[705:169251] First execution activation was NOT triggered
2015-11-23 18:42:10.380 GammaTest[705:169251] enabled: 1
2015-11-23 18:42:10.390 GammaTest[705:169251] Lock status: 0
Assertion failed: (file != NULL), function +[GammaController setGammaWithRed:green:blue:], file /Users/tomaszkaczmarzyk/Download

[2015-11-24 00:42] daedos opened #55 "Cannot sign "me.ahammer.GammaTest.GammaWidget""
Can someone help a newbie out and let me know what else I need to change to solve this issue?  I've changed the team and bundle identifier, e.g. me.ahammer.GammaTest.XYZ123, just can't work out where the widget identifier needs changing.

Thanks.

[2015-11-24 07:26] daedos commented on #55
After sleeping on it I've answered my own question.  Maybe another newbie with the same problem will find this useful.  The widget identifier can be changed if you switch targets - click GammaTest just to the left of General (see linked image).  Then make that unique in a similar way to the main app.

http://i63.tinypic.com/ojia8p.png

[2015-11-24 07:31] daedos commented on #55
Additionally you need to use identifiers like me.XYZ.GammaTest and me.XYZ.GammaTest.GammaWidget where XYZ is your unique string.

[2015-11-24 13:17] deviantintegral commented on #54
I ran into this as well. In my case, I made a mistake in specifying one of the group IDs. If you step through the debugger, check what suitName is in that method. I had to clean the build (Product -> Clean), and then everything worked.

[2015-11-24 21:21] rolyreyes commented on #50
Any plans to support or is this project in stasis until someone else picks it up?

[2015-11-30 03:51] heliomass commented on #14
It's not a true today extension, but if you have Workflow installed this workflow does a reasonable job of quickly toggling the gamma if you add it to Workflow's today extension: https://github.com/heliomass/iOSWorkflows/blob/master/README.md#toggle-gamma

[2015-12-01 11:09] mariokorte commented on #50
getGammaTable also gives you an empty (all zeroes) data object. Something smells fishy...

[2015-12-01 23:17] drhaynes commented on #50
Think we'll have to wait for a 9.1 jailbreak before we can dump the IOMobileFramework private headers from a suitable device before any progress can be made on this.

[2015-12-02 02:40] MugnumParts opened #56 "App crashing when enabled or touching Orange-ness"
My Gamma Thingy crashes if I attempt to enable it or adjust the orange-ness setting. I also get an "Assertion failed" output in Xcode when running that points to the line (currently 138)

assert(file != NULL);

How do I resolve this?

[2015-12-02 02:47] #56 closed

[2015-12-02 02:48] MugnumParts commented on #56
Never mind, not much experience with Github, did not realize there was a closed tab that contained a thread addressing this issue.

[2015-12-04 09:34] NemuiStefan commented on #54
Just a quick note because I just had the same problem and couldn't get it to work at first. You have to specify the correct AppGroupIdentifier everywhere in the project (use Find) and THEN clean the build. That finally worked for me.

[2015-12-05 15:28] sankids commented on #48
@joelrfcosta Can you please clarify the instructions? I'm also having a problem of the app crashing.

[2015-12-07 23:13] patmuk commented on #8
It still does not work for me - looks like a (setting?) file is missing.
2015-12-08 00:11:43.581 GammaTest[4778:1635401] enabled: 1
2015-12-08 00:11:43.591 GammaTest[4778:1635401] Lock status: 0
Assertion failed: (file != NULL), function +[GammaController setGammaWithRed:green:blue:], file /Users/patmuk/code/sideload/iPhone/GammaThingy/GammaTest/mvc/controller/GammaController.m, line 138.
from thi

[2015-12-09 11:54] agentk commented on #8
@patmuk That is the same error I was getting too. The filePath is based on the APP_GROUP_IDENTIFIER. Ensure it is set correctly in the project level settings, and not overridden in the targets, and that it matches what you entered in Capabilities -> App Group.
Then clean and rebuild.

Just setting the bundle and group identifiers in General and Capabilities is not enough. You need to search for th

[2015-12-11 09:21] trusk89 opened #57 "Assert failure in GammaController.m"
2015-12-11 11:19:09.128 GammaTest[829:290676] First execution activation was NOT triggered
2015-12-11 11:19:11.252 GammaTest[829:290676] enabled: 1
2015-12-11 11:19:11.260 GammaTest[829:290676] Lock status: 0
Assertion failed: (file != NULL), function +[GammaController setGammaWithRed:green:blue:], file /Users/Alex/Documents/3rdPartyRepos/GammaThingy/GammaTest/mvc/controller/GammaController.m, lin

[2015-12-14 16:44] s0ulp1xel opened #58 "Red Tint after disabling orangeness"
Even after disabling the tweak there is a light red tint that covers the whole screen ( which is different from the orange tint). (iPhone 6+ 9.0.2)
Maybe a mixup with restoring the original gamma tables?

[2015-12-23 04:27] paul31 opened #59 "Permanent orange filter after deleting app"
After installing on my iPhone and deleting the app the orange filter still remains.

Powering off and restarting the phone returns the screen to normal but as soon as I reinstalled the app and tuned on the filter again, it was like I had two filters on at the same time, one permanent and the other controlled by the app.

The result is that, using the app, I can increase the orange level up to extr

[2015-12-27 05:03] zohairshafi commented on #55
Hello!
I've done everything you said, and despite changing the bundle identifier, i still get the error, "An Application Group with Identifier 'group.me.ahammer.GammaTest' is not available. Please enter a different string."

[2015-12-27 20:23] daedos commented on #55
After getting GammaThingy installed I found it pretty unreliable and used [Goodnight](https://github.com/anthonya1999/GoodNight/) instead.  Just make sure you follow the [readme](https://github.com/anthonya1999/GoodNight/blob/master/Help/README.md).

[2015-12-28 08:16] zohairshafi commented on #55
Thanks a lot! Will do.
Although, I would still like to know what I've been doing wrong incase I bump into similar problems in the future.

[2015-12-28 11:49] daedos commented on #55
Ok.  Your error message is slightly different to my original post.  I've just re-downloaded the project to work out the steps to get it working again.

1, Change both Bundle Identifiers as I mentioned above
2, Change the App Groups:
  - In the Capabilities section scroll down to App Group, you should see group.me.ahammer.GammaTest (in red if build failed).
  - Add a new group where ahammer is repl

[2015-12-28 12:02] zohairshafi commented on #55
It worked. Thank you so much!

[2015-12-28 14:05] istvanrath commented on #54
More specifically, change "APP_GROUP_IDENTIFIER" to whatever your app group ID is, in the Build Settings section for the GammaTest project, right at the bottom (under "User-Defined").

[2015-12-30 03:55] airportextreme opened #60 "Crash when enabling GammaThingy."
App is crashing when checking "Enabled".

Crash reports below.

Running iOS 9.2 on iPhone 6S.

This is very similar to crash in GammaThingy fork GoodNight reported [here](https://github.com/anthonya1999/GoodNight/issues/68).

[2015-12-30 09:14] mariokorte commented on #57
You need to correctly configure the app group ids. Check, that you didn't miss an instance.

[2015-12-31 02:02] AkiTx commented on #60
I have the same problem, I think it is because "IOMobileFramebufferGetGammaTable" changed in iOS 9.2

[2015-12-31 02:03] thomasfinch commented on #60
That's not it, I'm having the same problem and I'm still on 9.0.2.
Something changed with all the pull requests I accepted between about
September and now and I'm looking into fixing it.

On Wed, Dec 30, 2015 at 9:02 PM AkiTx <notifications@github.com> wrote:

[2015-12-31 02:05] hbarn commented on #60
I found enabling app groups capability and fixing all code signing issues related thereto resolved the issue in the forked version.

[2016-01-03 19:58] trusk89 commented on #57
this can be closed

[2016-01-09 03:16] KyleStay commented on #59
restart?

[2016-01-09 03:23] KyleStay commented on #59
Maybe enable and then restart phone?

[2016-01-09 16:43] wbutter commented on #59
Was the orange filter enabled or disabled when you originally deleted the app?

[2016-01-09 18:10] wbutter commented on #48
To be even more specific, make sure that you change  the unique ID in the below places, then do a Product / ***Clean***, a Product / ***Build***, and then select your device as target and click the ***Build & Run*** "play" button.

You need to verify that the unique ID "ahammer" has been changed to "XXXXX" where XXXXX is **YOUR** unique ID (like your github name) in the following places before doi

[2016-01-12 10:08] Wysie opened #61 "Unable to run since last commit"
Thanks for your work on this :)! I was able to use it previously, but since your latest commit, I'm getting an "EXC_BAD_ACCESS" on this line and am unable to use the app: `error = IOMobileFramebufferGetGammaTable(fb, data);`

In `GammaController.m`. Can you look into this?

[2016-01-21 15:02] Spamm3r opened #62 "No IOMobileFramebuffer"
ld: warning: directory not found for option '-F/Applications/Xcode-beta.app/Contents/Developer/Platforms/iPhoneOS.platform/Developer/SDKs/iPhoneOS.sdk/System/Library/PrivateFrameworks'
ld: framework not found IOMobileFramebuffer
clang: error: linker command failed with exit code 1 (use -v to see invocation)

[2016-01-22 19:08] ethanrubio commented on #61
I got this same error with the latest build. I reverted back to the previous commit, and it works now.

[2016-02-13 11:10] zvonicek commented on #61
I report the same problem. The previous commit works fine.

[2016-02-14 04:25] paul31 commented on #59
Sorry for the late reply, but yes the orange filter was enabled when I deleted the app the first time. So my mistakes. Restarting works, returning the screen to normal, but the next time the app is activated the orange filter becomes permeant again until the next restart.

[2016-03-04 15:41] dantahoua opened #63 "Not obsolete for people with older ipad/ipod/iphone"
I just discover with iOs 9.3 beta 5 that the Redshift option is not available on my first generation ipad mini!!!! Seems it will not be available on any older 32bit tablet/phone because of a performance issue!!! I never add performance issue with Flux or Gammathingy... Apple marketing...

[2016-03-11 09:48] tjaadvd commented on #62
I think im having the same error.

[2016-03-11 20:35] oaksboard commented on #59
Had the same problem with reinstall = double filter. This solved the problem for me:
- disable GammaThingy (orange tint remains, but go on)
- uninstall GammaThingy from iOS
- shutdown and restart the device
- reinstall GammaThingy

[2016-03-21 06:38] bretth18 commented on #63
I don't really see why this is being opened as an issue.

[2016-03-21 11:10] dantahoua commented on #63
Sorry, it was just a comment but I don't know how to make just a comment in GitHub without opening an issue. I also wanted to be sure such project do not fall into deprecated stuff as a lot of people still own "old" iOS device...

[2016-03-21 21:06] lacastorine commented on #61
Adding App Group in Capabilities tab (group.%Bundle Identifier%) fix the issue for me.

[2016-03-21 22:18] kman14367 commented on #63
bretth18 It is sort of an issue with the README.md file, and I agree with dantahoua; it is very useful to those with older devices and I don't want it to become deprecated and dead, since the sideload version of f.lux is very buggy.

[2016-04-06 22:13] Spamm3r commented on #62
bump, still have same error

[2016-04-06 22:52] jevinskie commented on #62
Xcode 7.something stopped bundling private frameworks in the iOS SDK. Try getting IOMobileFramebuffer using https://github.com/npupyshev/dt.fetchsymbols

[2016-04-26 18:23] thomasfinch commented on #63
I just updated the readme file to make a note of this.

[2016-04-26 18:23] #63 closed

[2016-04-26 18:24] thomasfinch commented on #62
The latest commit changes the project to use dynamic instead of static linking, this problem should be gone now.

[2016-04-26 18:24] #62 closed

[2016-04-26 18:27] #57 closed

[2016-05-03 05:26] tophneal opened #64 "UI clarification"
I'm sorry if this is a silly question, but I feel it's warranted despite the simplicity of the app: if I turn on the scheduled activation will it only work if I manually hit the enabled switch? It would appear so whenever I enable the schedule. It often doesn't yellow the screen until I manually enable the app, regardless of the time of day.

[2016-05-03 15:38] thomasfinch commented on #64
That's not silly at all, the scheduled activation should work without manually turning on the enabled switch but you might have found a bug. I'll look into it.

[2016-05-03 16:05] tophneal commented on #64
If there's anything I can provide to help look into this, let me know. I'd be glad to help in whatever meager way I can.

Also, I just noticed after doing a new pull to get the location based option, that issue [#62](https://github.com/thomasfinch/GammaThingy/issues/62) does not appear to be fully resolved. I still get the notice that the private frameworks are missing, even after copying the fold

[2016-05-03 16:15] thomasfinch commented on #64
Maybe try deleting and re-cloning the project, because it shouldn't link any private frameworks statically anymore. I also just pushed a new commit so it shouldn't give any warnings about not finding the private frameworks folder now either.

[2016-05-03 16:26] tophneal commented on #64
Took you advice and the notice is gone now. Thank you. Out of curiosity, is the location-based change limited to certain iDevices?

[2016-05-03 17:16] thomasfinch commented on #64
It shouldn't be, I'll check to make sure though.

[2016-05-03 17:18] tophneal commented on #64
Ok, then it's definitely worth mentioning that I pushed you commit from today onto an iPad 2 and iPhone 5, and neither shows a location based toggle option.

[2016-05-12 22:36] WyattLiu commented on #32
That ".username" works for me as well.

[2016-06-25 00:13] ds284 opened #65 "URL for Darkroom Mode?"
Any chance that there'll be a URL added to enable/disable Darkroom Mode? I ask because I saw that there's now an orangeness URL to enable/disable the orange filter.

[2016-09-13 05:29] theodoruszq commented on #32
@athyman Yeah, that's cool. It has solved my issue perfectly! Thanks!

[2017-05-26 13:02] #38 closed

[2017-10-14 03:23] #60 closed

[2020-05-15 20:36] Aleksandr6669 opened #66 "Tet"

[2020-05-20 12:42] #14 closed

[2020-10-20 07:31] JohnCassavetes opened #67 "Add a license"